<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp uap3 rescap">
  <Identity
    Name="deste.RemoteSync"
    Publisher="CN=deste"
    Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="4dfdf93d-f347-4b54-9d1d-c7a5d6e95be4" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>RemoteSync</DisplayName>
    <PublisherDisplayName>deste</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Xbox" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="XboxRemoteSync.App">
      <uap:VisualElements
        DisplayName="RemoteSync"
        Description="Incremental network to USB sync for sideloaded Xbox content libraries."
        BackgroundColor="#101820"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="syncedcontent">
            <uap:DisplayName>Synced Content</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType>.7z</uap:FileType>
              <uap:FileType>.aac</uap:FileType>
              <uap:FileType>.aif</uap:FileType>
              <uap:FileType>.aiff</uap:FileType>
              <uap:FileType>.ape</uap:FileType>
              <uap:FileType>.avi</uap:FileType>
              <uap:FileType>.bin</uap:FileType>
              <uap:FileType>.bmp</uap:FileType>
              <uap:FileType>.bz2</uap:FileType>
              <uap:FileType>.c</uap:FileType>
              <uap:FileType>.cb7</uap:FileType>
              <uap:FileType>.cbr</uap:FileType>
              <uap:FileType>.cbz</uap:FileType>
              <uap:FileType>.ccd</uap:FileType>
              <uap:FileType>.cfg</uap:FileType>
              <uap:FileType>.chd</uap:FileType>
              <uap:FileType>.cia</uap:FileType>
              <uap:FileType>.cpp</uap:FileType>
              <uap:FileType>.cs</uap:FileType>
              <uap:FileType>.cso</uap:FileType>
              <uap:FileType>.csv</uap:FileType>
              <uap:FileType>.fds</uap:FileType>
              <uap:FileType>.doc</uap:FileType>
              <uap:FileType>.docx</uap:FileType>
              <uap:FileType>.epub</uap:FileType>
              <uap:FileType>.f4v</uap:FileType>
              <uap:FileType>.flac</uap:FileType>
              <uap:FileType>.flv</uap:FileType>
              <uap:FileType>.gcm</uap:FileType>
              <uap:FileType>.gba</uap:FileType>
              <uap:FileType>.gb</uap:FileType>
              <uap:FileType>.gbc</uap:FileType>
              <uap:FileType>.gdi</uap:FileType>
              <uap:FileType>.gen</uap:FileType>
              <uap:FileType>.gg</uap:FileType>
              <uap:FileType>.gif</uap:FileType>
              <uap:FileType>.gz</uap:FileType>
              <uap:FileType>.h</uap:FileType>
              <uap:FileType>.heic</uap:FileType>
              <uap:FileType>.htm</uap:FileType>
              <uap:FileType>.html</uap:FileType>
              <uap:FileType>.img</uap:FileType>
              <uap:FileType>.ini</uap:FileType>
              <uap:FileType>.iso</uap:FileType>
              <uap:FileType>.jar</uap:FileType>
              <uap:FileType>.java</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.js</uap:FileType>
              <uap:FileType>.json</uap:FileType>
              <uap:FileType>.log</uap:FileType>
              <uap:FileType>.lua</uap:FileType>
              <uap:FileType>.m3u</uap:FileType>
              <uap:FileType>.m3u8</uap:FileType>
              <uap:FileType>.m4a</uap:FileType>
              <uap:FileType>.m4v</uap:FileType>
              <uap:FileType>.max</uap:FileType>
              <uap:FileType>.md</uap:FileType>
              <uap:FileType>.mdf</uap:FileType>
              <uap:FileType>.mds</uap:FileType>
              <uap:FileType>.mkv</uap:FileType>
              <uap:FileType>.mov</uap:FileType>
              <uap:FileType>.mp3</uap:FileType>
              <uap:FileType>.mp4</uap:FileType>
              <uap:FileType>.mpeg</uap:FileType>
              <uap:FileType>.mpg</uap:FileType>
              <uap:FileType>.n64</uap:FileType>
              <uap:FileType>.nds</uap:FileType>
              <uap:FileType>.nes</uap:FileType>
              <uap:FileType>.nfo</uap:FileType>
              <uap:FileType>.nrg</uap:FileType>
              <uap:FileType>.odp</uap:FileType>
              <uap:FileType>.ods</uap:FileType>
              <uap:FileType>.odt</uap:FileType>
              <uap:FileType>.ogg</uap:FileType>
              <uap:FileType>.oga</uap:FileType>
              <uap:FileType>.ogv</uap:FileType>
              <uap:FileType>.opus</uap:FileType>
              <uap:FileType>.pdf</uap:FileType>
              <uap:FileType>.pce</uap:FileType>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.ppt</uap:FileType>
              <uap:FileType>.pptx</uap:FileType>
              <uap:FileType>.ps1</uap:FileType>
              <uap:FileType>.py</uap:FileType>
              <uap:FileType>.rar</uap:FileType>
              <uap:FileType>.rtf</uap:FileType>
              <uap:FileType>.sfc</uap:FileType>
              <uap:FileType>.sh</uap:FileType>
              <uap:FileType>.smd</uap:FileType>
              <uap:FileType>.smc</uap:FileType>
              <uap:FileType>.sms</uap:FileType>
              <uap:FileType>.sql</uap:FileType>
              <uap:FileType>.sub</uap:FileType>
              <uap:FileType>.svg</uap:FileType>
              <uap:FileType>.tar</uap:FileType>
              <uap:FileType>.tgz</uap:FileType>
              <uap:FileType>.tif</uap:FileType>
              <uap:FileType>.tiff</uap:FileType>
              <uap:FileType>.torrent</uap:FileType>
              <uap:FileType>.ts</uap:FileType>
              <uap:FileType>.txt</uap:FileType>
              <uap:FileType>.v64</uap:FileType>
              <uap:FileType>.wav</uap:FileType>
              <uap:FileType>.webm</uap:FileType>
              <uap:FileType>.webp</uap:FileType>
              <uap:FileType>.wma</uap:FileType>
              <uap:FileType>.wmv</uap:FileType>
              <uap:FileType>.xhtml</uap:FileType>
              <uap:FileType>.xls</uap:FileType>
              <uap:FileType>.xlsx</uap:FileType>
              <uap:FileType>.xml</uap:FileType>
              <uap:FileType>.xz</uap:FileType>
              <uap:FileType>.yaml</uap:FileType>
              <uap:FileType>.yml</uap:FileType>
              <uap:FileType>.z64</uap:FileType>
              <uap:FileType>.zip</uap:FileType>
              <uap:FileType>.zso</uap:FileType>
              <uap:FileType>.cue</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <uap:Capability Name="removableStorage" />
  </Capabilities>
</Package>
